<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/styles/storestyles.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">    <title>Kylie22</title>
    </head>

    <body>    
        <!-- Header -->
        <header class="mainheader">
            <a href="#" ><img class="mainheader__logo" src="/data/logo.png" alt="Logo"></a>
            <nav class="mainheader__nav">
                <a href="#" class="mainheader__item navigation__item--active">INICIO</a>
                <a href="/tienda" class="mainheader__item">TIENDA</a>
                <a href="/crea" class="mainheader__item">CREA</a>
                <a href="/carrito" class="mainheader__item">
                    <div class="mainheader__cartitem">
                        <img src="/data/cart.png" alt="">
                        <div class="mainheader__cartitemnum">
                            <p class="shopping_counter"></p>
                        </div>
                    </div>
                </a>
                
            </nav>
            <button class="mainheader__btn">
                <img src="/data/hamburguesa.png" alt="">
            </button>
        </header>


        {{{body}}}


        <!-- Suscribe -->

        <div class="colum2 suscribe">
            <div class="colum2__col colum2__col--left">
                <img class="suscribe__img" src="/data/suscribe.png" alt="">
            </div>

            <div class="colum2__col colum2__col--center">
                <h3 class="tx24--important suscribe__title">Quiero saber más</h3>
                <p class="tx15">Se el primero en recibir información sobre nuestros nuevos productos</p>
                <input class="inp" type="text" placeholder="Nombre">
                <input class="inp" type="text" placeholder="Correo">
                <label class="tx15 suscribe__check"><input type="checkbox" name=""> He leído y acepto las Políticas de Privacidad de Kylie22 </label>
                <button class="btn suscribe__btn">Suscribirme</button>
            </div>
        </div>

        <!-- Footer -->
        <div class="net">
            <div>
                <p class="tx15">Encuéntranos en redes sociales</p>
            </div>
            <div>
                <img class="net__img" src="/data/face.png" alt="">
                <img class="net__img" src="/data/insta.png" alt="">
                <img class="net__img" src="/data/youtube.png" alt="">
            </div>
            <div>
                <p class="tx15">&copy; Copyright 2019 | Política de privacidad</p>
            </div>
        </div>
        <!-- Java -->
        <script src="/scripts/main.js"></script>
        <script src="/scripts/store.js"></script>
        <script src="/scripts/updateCart.js"></script>
    </body>
</html>