<div class="inter__intro">
    <h2 class="tx30--important">Arma tu kit</h2>
    <p class="tx20">Arma tu kit de sombras, rubor y labial con los productos que quieras</p>
</div>

<div class="intercontainer">
    <div class="intercontainer__kit">
        <div class="intercontainer__kitleft">
            <div class="intercontainer__sombra">
                <img class="intercontainer__sombraimg" src="" alt="">
            </div>
            <div class="intercontainer__rubor">
                <img class="intercontainer__ruborimg" src="" alt="">
            </div>
        </div>
        <div class="intercontainer__kitright">
            <div class="intercontainer__labial">
                <img class="intercontainer__labialimg" src="" alt="">
            </div>
        </div>
    </div>

    <div class="intercontainer__options">
        <h3 class="tx24--important">Selecciona una sombra:</h3>
        <div class="intercontainer__optionsbtns">
            <div class="intercontainer__btn intercontainer__btnsombra"> <img src="./data2/sombras1.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnsombra"> <img src="./data2/sombras2.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnsombra"> <img src="./data2/sombras3.png" alt=""></div>
        </div>
        <h3 class="tx24--important">Selecciona un rubor:</h3>
        <div class="intercontainer__optionsbtns">
            <div class="intercontainer__btn intercontainer__btnrubor"> <img src="./data2/rubor1.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnrubor"> <img src="./data2/rubor2.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnrubor"> <img src="./data2/rubor3.png" alt=""></div>
        </div>
        <h3 class="tx24--important">Selecciona un labial:</h3>
        <div class="intercontainer__optionsbtns">
            <div class="intercontainer__btn intercontainer__btnlabial"> <img src="./data2/labial1.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnlabial"> <img src="./data2/labial2.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnlabial"> <img src="./data2/labial3.png" alt=""></div>
        </div>
        
    </div>
</div>
<div class="intercontainer__sendname">
    <h3 class="tx24--important">Ponle un nombre a tu kit:</h3>
    <div class="intercontainer__name">
            <input class="inpname" type="text" id="kitname" placeholder="Nombre de tu kit">
            <a href="/kitdone">
                <button type="submit" class="submitname btn">Crear kit</button>
            </a>
    </div>
</div>


<script src="/scripts/interaction.js"></script>
