<p>Estoy en crear</p>

<div class="intercontainer">
    <div class="intercontainer__kit">
        <div class="intercontainer__kitleft">
            <div class="intercontainer__sombra">
                <img class="intercontainer__sombraimg" src="" alt="">
            </div>
            <div class="intercontainer__rubor">
                <img class="intercontainer__ruborimg" src="" alt="">
            </div>
        </div>
        <div class="intercontainer__kitright">
            <div class="intercontainer__labial">
                <img class="intercontainer__labialimg" src="" alt="">
            </div>
        </div>
    </div>

    <div class="intercontainer__options">
        <h3 class="tx24--important">Selecciona una sombra:</h3>
        <div class="intercontainer__optionsbtns">
            <div class="intercontainer__btn intercontainer__btnsombra"> <img src="./data2/YOURESOMONEYBABY1.jpg" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnsombra"> <img src="./data2/YOURESOMONEYBABY2.jpg" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnsombra"> <img src="./data2/YOURESOMONEYBABY3.jpg" alt=""></div>
        </div>
        <h3 class="tx24--important">Selecciona un rubor:</h3>
        <div class="intercontainer__optionsbtns">
            <div class="intercontainer__btn intercontainer__btnrubor"> <img src="./data2/TEQUILATAN1.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnrubor"> <img src="./data2/TEQUILATAN2.png" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnrubor"> <img src="./data2/TEQUILATAN3.jpg" alt=""></div>
        </div>
        <h3 class="tx24--important">Selecciona un labial:</h3>
        <div class="intercontainer__optionsbtns">
            <div class="intercontainer__btn intercontainer__btnlabial"> <img src="./data2/MAMABOSS1.jpg" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnlabial"> <img src="./data2/MAMABOSS2.jpg" alt=""></div>
            <div class="intercontainer__btn intercontainer__btnlabial"> <img src="./data2/MAMABOSS3.jpg" alt=""></div>
        </div>
        <div class="intercontainer__optionsname">

        </div>
        <div class="intercontainer__optionssend">

        </div>
    </div>

</div>

<script src="/scripts/interaction.js"></script>