<div class="ep">
    <div class="ep__colum">
        <div class="ep__galery"></div>
    </div>

    <div class="ep__colum">
        <h3 class="tx20">{{product.name}}</h3>
        <div class="stars"></div>
        <p class="tx20">{{product.price}}</p>
        <p class="tx20">{{product.description}}</p>
        <button class="btn">Agregar al carrito</button>
    </div>
</div>
