<div class="kitdone">
    <div class="kitdone__bag">
        <img src="./data2/kitbag.png" alt="">
    </div>
    <div class="kitdone__msg">
        <h3 class="tx30--important">¡Kit armado!</h3>
        <p class="tx20">Haz creado el kit de productos perfecto.
        <br>
        Añádelo a tu carrito de compras</p>

        <button class="btn">Añadir al carrito</button>
        <button class="btn">Armar otro kit</button>

    </div>
</div>