{{!-- Lo que ponga aqui sera reemplazado en el body --}}

<div class="banner">
    <h1 class="banner__title">LUCE UN ESTILO KYLIE</h1>
    <p class="banner__text tx20">Esta paleta es tu arma secreta para crear el look perfecto de Kylie</p>
    <button class="btn button--cta">¡La quiero!</button>
</div>

<div>
    {{#each products}}
    <img src="" alt="">
    <h3>{{name}}</h3>
    <img src="" alt="">
    <p>{{description}}</p>
    <button>Agregar al carrito</button>
    {{/each}}
</div>


<script src="/scripts/store.js"></script>