*{
    box-sizing: border-box;
}

 /* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }   */

body{
    margin: 0px;
}

/* ---------------COMMON---------------*/

.colum2{
    display: inline-flex;
    flex-wrap: wrap;
}

.colum2__col{ 
    width: 50%;
    padding: 20px 70px;
}

.colum2__col--center{ 
    text-align: center;
}

.colum2__col--left{ 
    display: flex;
    justify-content: flex-end;
}

.tx15{
    font-family:  'Roboto', sans-serif;
    font-size: 15px;
    color: #461B37;
}

.tx18{
    font-family:  'Roboto', sans-serif;
    font-size: 18px;
    color: #461B37;
}

.tx20{
    font-family:  'Roboto', sans-serif;
    font-size: 20px;
    color: #461B37;
}

.tx30{
    font-family:  'Roboto', sans-serif;
    font-size: 30px;
    color: #461B37;
}

.tx20--important{
    font-family:  'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #CF0A6F;
}

.tx24--important{
    font-family:  'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #CF0A6F;
}

.tx30--important{
    font-family:  'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #CF0A6F;
}

.btn{
    background: #CF0A6F;
    width: 180px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900px;
    color: white;
    border-radius: 2px;
    border: none;
}

.button--cta{
    background: #6FC834;
}

/* ---------------HEADER---------------*/
.mainheader{
    width: 100%;
    background-color: #FDE9E9;
    display: flex;
    justify-content: space-between;
}

.mainheader__nav{
    height: 80px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    transition: all .4s ease;
}

.mainheader__logo{
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.mainheader__cartitem{
    display: flex;
    flex-direction: row;
}

.mainheader__item{
    margin: 40px 0px 40px 0px;
}

.mainheader__cartitemnum{
    background-color: #CF0A6F;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0px 0px;
    text-align: center;
}

.shopping_counter{
    color: white;
    font-size: 18px;
    margin: 0px 0px;
}

.navigation__item--active{
    font-weight: bold;
}

.mainheader__btn{
    background: none;
    border: none;
    display: none;
}

/*---------------BANNER---------------*/
.banner{
    background-image: url("../data/bannerStore.png");
    background-color: gray;
    background-size: cover;
    width: 100%;
    height: 619px;
    padding: 150px 0px 150px 90px;
}

.banner__title{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    width: 437px;
    color: #CF0A6F;
    line-height: 98.2%;
    margin: 0px;
}

.banner__text{
    width: 35%;
}

/*---------------FILTERS AND ORGANIZE----------------*/

.order{
    /*background-image: url("../data2/select-background.png");*/
    box-sizing: border-box;
    border: none;
}

.order option{
    padding: 0px 20px;
}

.filorg__fil label{
    margin: 10px 0px;
}

.filorg__fil input{
    margin: 10px 0px;
}

.filorg__fil input[type="checkbox"]{
    display: none;
}

.filorg__fil input[type="checkbox"] + label span{
    display: inline-block;
	width: 18px;
	height: 18px;
	margin: -5px 4px 0 0;
	vertical-align: middle;
	background-image: url("../data2/checkbox-unchecked.png");
	background-size: cover;
	cursor: pointer;
}

.filorg__fil input[type="checkbox"]:checked + label span{
    background-image: url("../data2/checkbox-checked.png");
	background-size: cover;
}

.filorg__btn{
    display: none;
}

/*---------------STORE---------------*/
.store{
    display: flex;
    padding: 20px 20px;
}
.filorg{
    border-radius: 3px;
    padding: 20px 20px 20px 40px;
    width: 25%;
    height: fit-content;
    transition: all .4s ease;
    /*box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);*/
}

.products{
    width: 75%;
    /*background-color: rgb(184, 152, 172);*/
    margin: 0px;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap;
}

.generalproduct{
    width: 25%;
    height: 400px;
    padding: 10px;
    margin: 20px 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.generalproduct a{
    text-decoration: none;
}

.divimage{
    display: flex;
    justify-content: center;
}

.imgproduct{
    width: 150px;
    /* height: 150px; */
}

.stars{
    width: 70px;
    height: 20px;
}

.infobuy{
    display: flex;
}

.infobuy__info{
    width: 60%;
    height: 70px;
}

.infobuy__buy{
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.infobuy__buybutton{
    background: none;
}

/*---------------EACH PRODUCT---------------*/

.ep{
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}

.ep__img{
    display: flex;
    width: 50%;
}

.ep__imggalery{
    display: flex;
    justify-content: center;
    width: 30%;
    flex-wrap: wrap;

}

.ep__imggalery img{
    width: 50%;
    margin: 10px;
}

.ep__imgphoto{
    display: flex;
    width: 70%;
    align-items: center;    
}

.ep__imgphoto img{
    width:100%;
}

.ep__descrip{
    height: 50%;
    padding: 0px 30px;
}

/*---------------SUSCRIBE---------------*/

.suscribe{
    background-color: #FDE9E9;
 
}

.inp{
    border: 0px;
    width: 400px;
    height: 40px;
    margin: 5px 0px;
    padding: 0.5rem 1rem;
}

.suscribe__title{
    text-align: center;
}

.suscribe__check{
    display: block;
    margin: 15px 0px;
}

.suscribe__btn{
    margin: 0 auto;
}


/*---------------SOCIAL NETWORKS---------------*/

.net{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D8D8D8;
    padding: 30px 20px;
}

.net__img{
    height: 22px;
    margin: 0px 10px;
}


@media (max-width: 600px){

    /* -----------------STORE---------------------*/

    .store{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    .products {
        width: 100%;
        /* background-color: rgb(184, 152, 172); */
        margin: 0px;
        padding: 0px 40px;
        display: flex;
        flex-direction: row;
        height: fit-content;
        flex-wrap: wrap;
    }

    .generalproduct {
        width: 40%;
        height: 320px;
        padding: 10px;
        margin: 20px 20px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .imgproduct{
        width: 100px;
        margin: 0 auto;
    }

    .infobuy__info {
        width: 70%;
        height: 70px;
    }

    .infobuy__buy {
        width: 30%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .infobuy__buy img{
        width: 35px;
    }

    /* -----------------FILTER AND ORGANIZE---------------------*/
    .filorg {
        width: 50%;
        padding: 20px 0px;
        
    }
    
    .filorg--container {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        border-radius: 3px;
        padding: 20px 20px 20px 40px;
        background-color: #ffffff;  
        width: 50%;
        height: fit-content;
        transition: all .4s ease;
        transform: translate(-100%, 0%);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .filorg--active{
        opacity: 1;
        pointer-events: all;
        transform: translate(0%, 0%);
    }

    .filorg__btn{
        display: block;
        /*margin: 20px;*/
    }

}
